@import "../../../styles/media.scss";

.accordion-title {
  @apply font-semibold;
}

:host mat-expansion-panel {
  --mat-expansion-container-shape: 0.75rem;
}

@include for-phone {
  :host {
    @apply grid sticky top-1;

    ::ng-deep
      .mat-accordion-custom
      > .mat-expanded
      > .mat-expansion-panel-content {
      height: 45vh !important;
      overflow-y: overlay !important;
    }
  }
  .player {
    &-wrapper {
      @apply grid p-4 gap-4 sticky top-1 z-50;
    }
    &-src {
      @apply w-full h-72 rounded-xl overflow-hidden;
    }
    &-info {
      @apply grid gap-4;
      &-title {
        @apply font-semibold;
      }
    }
    &-list {
      &-wrapper {
        @apply p-4  -z-50 sticky top-2;
      }
      &-container {
        @apply grid;
      }

      &-items {
        @apply grid gap-2;
      }

      &-item {
        @apply flex items-start gap-2 p-2 rounded-xl cursor-pointer  hover:bg-gray hover:dark:bg-dark_gray;
        img {
          @apply h-[80px] w-[125px] rounded overflow-hidden object-cover;
        }

        p {
          @apply font-sans flex-1 text-black dark:text-white xl:text-lg;
        }

        &.active {
          @apply bg-gray dark:bg-dark_gray;
        }
      }
    }
  }
}

@include for-web {
  :host {
    @apply flex p-4 gap-4;
    ::ng-deep
      .mat-accordion-custom
      > .mat-expanded
      > .mat-expansion-panel-content {
      height: 85vh !important;
      overflow-y: overlay !important;
    }
  }
  .player {
    &-wrapper {
      @apply flex-1;
    }
    &-src {
      @apply w-full h-[31rem] rounded-xl overflow-hidden;
    }
    &-info {
      @apply flex flex-col gap-4 pt-4;
      &-title {
        @apply font-semibold text-3xl pb-8;
      }
    }
    &-list {
      &-container {
        @apply grid;
      }

      &-items {
        @apply grid gap-2;
      }

      &-item {
        @apply flex items-start gap-2 p-2 rounded-xl cursor-pointer  hover:bg-gray hover:dark:bg-dark_gray;
        img {
          @apply h-[80px] w-[125px] rounded overflow-hidden object-cover;
        }

        p {
          @apply font-sans flex-1 text-black dark:text-white xl:text-lg;
        }

        &.active {
          @apply bg-gray dark:bg-dark_gray;
        }
      }
    }
  }

  .player-list-wrapper {
    @apply w-1/3;
  }
}

// Temporary

.player-limited {
  @apply grid gap-4 row-start-2 mt-10;
  &-text {
    @apply text-xs italic;
  }
  &-title {
    @apply font-semibold;
  }
  form {
    @apply grid gap-2;
  }
}

@include for-web {
  .player-limited {
    @apply bg-greenish dark:bg-black rounded-xl p-4 w-2/3;
    form {
      button {
        @apply w-1/5;
      }
    }
  }
}
