<section class="player-wrapper">
    <div class="player-src">
        <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zXiQZkrJFnA"></iframe> -->
        <iframe width="100%" height="100%" [src]="safeURL"></iframe>
    </div>
    <div class="player-info">
        <h4 class="player-info-title">Obito Uchiha [AMV] - Another Love | Naruto Shippuden</h4>
    </div>
    <div class="player-list-wrapper">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p class="accordion-title">
                            Naruto Shippuden AMV playlist
                        </p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="player-list-container">
                    <ul class="player-list-items">
                        <li class="player-list-item active">
                            <img [src]="'https://img.youtube.com/vi/'+videoId+'/default.jpg'">
                            <p>Obito Uchiha [AMV] - Another Love | Naruto Shippuden</p>
                        </li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>