<header class="header">
    <div class="header__options header__options--always-visible">
        <div class="header__options--icon">
            <ng-container *ngTemplateOutlet="menu_icon"></ng-container>
            <span>Re.Learn</span>
        </div>
        <ng-container *ngTemplateOutlet="header_menus"></ng-container>
        <ng-container *ngTemplateOutlet="header_buttons_phone"></ng-container>
    </div>
    <div>
        <ng-container *ngTemplateOutlet="header_buttons"></ng-container>
    </div>
</header>

<!-- Reusable Templates -->

<ng-template #header_menus>
    <ul class="header__options header__options--web">
        @for (routeMenu of routeMenus; track $index) {
        <li class="header__options--item">
            <a [routerLink]="routeMenu.route">{{routeMenu.name}}</a>
        </li>
        }@empty {
        <li class="header__options--item">
            <a routerLink="#">{{emptyMessage}}</a>
        </li>
        }
    </ul>
</ng-template>

<ng-template #header_buttons>
    <ul class="header__options header__options--web">
        <ng-container *ngTemplateOutlet="routeButtonsContainer"></ng-container>
    </ul>
</ng-template>

<ng-template #header_buttons_phone>
    <ul class="header__options header__options--phone">
        <ng-container *ngTemplateOutlet="routeButtonsContainer"></ng-container>
    </ul>
</ng-template>

<ng-template #routeButtonsContainer>
    @for (routeButton of routeButtons; track $index) {
    <li>
        <a mat-raised-button color="accent" [routerLink]="routeButton.route">{{routeButton.name}}</a>
    </li>
    } @empty {
    <li>
        <a mat-raised-button color="accent" routerLink="#">{{emptyMessage}}</a>
    </li>
    }
</ng-template>

<ng-template #menu_icon>
    <svg (click)="onMenuClick.emit()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
</ng-template>