<section class="continue-wrapper">
    <h1 class="continue-title">Get Started, Now !</h1>

    @if (!authService.authUser()) {
    <div>
        <app-button>
            <div class="continue-button" (click)="login()">
                <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png"
                    alt="Google Icon">
                <span>Continue with Google</span>
            </div>
        </app-button>
    </div>
    }@else {
    <div routerLink="/player" class="text-2xl flex items-center cursor-pointer gap-4 font-semibold" mat-button>
        <p>Go To Player</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
        </svg>
    </div>
    }
    <p class="hidden md:block italic text-sm fixed bottom-0 right-0">Currently we support Google authentication.<br>
        Other provider will be available soon. 🙂</p>
</section>