/* For use in src/lib/core/theming/_palette.scss */
:root {
  --primary-50: #eef5fb;
  --primary-100: #d4e5f5;
  --primary-200: #b7d4ee;
  --primary-300: #9ac2e7;
  --primary-400: #85b5e1;
  --primary-500: #6fa8dc;
  --primary-600: #67a0d8;
  --primary-700: #5c97d3;
  --primary-800: #528dce;
  --primary-900: #407dc5;
  --primary-A100: #ffffff;
  --primary-A200: #e3efff;
  --primary-A400: #b0d3ff;
  --primary-A700: #96c4ff;

  --accent-50: #f1eff8;
  --accent-100: #ddd8ed;
  --accent-200: #c7bee1;
  --accent-300: #b0a3d5;
  --accent-400: #9f90cc;
  --accent-500: #8e7cc3;
  --accent-600: #8674bd;
  --accent-700: #7b69b5;
  --accent-800: #715fae;
  --accent-900: #5f4ca1;
  --accent-A100: #fefeff;
  --accent-A200: #d6cbff;
  --accent-A400: #ae98ff;
  --accent-A700: #9a7fff;

  --warn-50: #f9e0e0;
  --warn-100: #f0b3b3;
  --warn-200: #e68080;
  --warn-300: #db4d4d;
  --warn-400: #d42626;
  --warn-500: #cc0000;
  --warn-600: #c70000;
  --warn-700: #c00000;
  --warn-800: #b90000;
  --warn-900: #ad0000;
  --warn-A100: #ffd7d7;
  --warn-A200: #ffa4a4;
  --warn-A400: #ff7171;
  --warn-A700: #ff5858;
}
