/* For use in src/lib/core/theming/_palette.scss */
:root {
  --bg-color: #fff;

  --primary-50: #eef5fb;
  --primary-100: #d4e5f5;
  --primary-200: #b7d4ee;
  --primary-300: #9ac2e7;
  --primary-400: #85b5e1;
  --primary-500: #6fa8dc;
  --primary-600: #67a0d8;
  --primary-700: #5c97d3;
  --primary-800: #528dce;
  --primary-900: #407dc5;
  --primary-A100: #ffffff;
  --primary-A200: #e3efff;
  --primary-A400: #b0d3ff;
  --primary-A700: #96c4ff;

  --accent-50: #fef6ed;
  --accent-100: #fce8d3;
  --accent-200: #fbd9b5;
  --accent-300: #f9c997;
  --accent-400: #f7be81;
  --accent-500: #f6b26b;
  --accent-600: #f5ab63;
  --accent-700: #f3a258;
  --accent-800: #f2994e;
  --accent-900: #ef8a3c;
  --accent-A100: #ffffff;
  --accent-A200: #ffffff;
  --accent-A400: #ffe7d5;
  --accent-A700: #ffd8bc;

  --warn-50: #f9e0e0;
  --warn-100: #f0b3b3;
  --warn-200: #e68080;
  --warn-300: #db4d4d;
  --warn-400: #d42626;
  --warn-500: #cc0000;
  --warn-600: #c70000;
  --warn-700: #c00000;
  --warn-800: #b90000;
  --warn-900: #ad0000;
  --warn-A100: #ffd7d7;
  --warn-A200: #ffa4a4;
  --warn-A400: #ff7171;
  --warn-A700: #ff5858;

  .dark {
    --bg-color: #26282b;

    --accent-50: #e4eef1;
    --accent-100: #bdd6db;
    --accent-200: #91bac3;
    --accent-300: #649eab;
    --accent-400: #438a99;
    --accent-500: #227587;
    --accent-600: #1e6d7f;
    --accent-700: #196274;
    --accent-800: #14586a;
    --accent-900: #0c4557;
    --accent-A100: #8ce0ff;
    --accent-A200: #196274;
    --accent-A400: #14586a;
    --accent-A700: #0c4557;
  }
}
