<ul>
    <li><a mat-flat-button>Basic</a></li>
    <li><a mat-flat-button>Basic</a></li>
    <li><a mat-flat-button>Basic</a></li>
    <li><a mat-flat-button>Basic</a></li>
    <li><a mat-flat-button>Basic</a></li>
    <li><a mat-flat-button>Basic</a></li>
</ul>
<!-- 

<button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a></li> -->