<div tabindex="0" class="menus-wrapper">
  <ul class="mobile__menus" (click)="onMenuItemClick.emit()">
    @if (authService.authUser();as authUser) {
      <li class="mobile__menus--item">
        <app-button>
          <a routerLink="/personal" [queryParams]="{uid: authUser?.uid}">Personal</a>
        </app-button>
      </li>
    }
    @for (item of menus.routeMenus;track $index) {
      @if(item.isAvailable){
        <li class="mobile__menus--item">
          <app-button>
            <a [routerLink]="item.route">{{ item.name }}</a>
          </app-button>
        </li>
      }
    } @empty {
      <li class="mobile__menus--item">
        <app-button>
          <a routerLink="#">No Permission's Menu 😕</a>
        </app-button>
      </li>
    }
  </ul>

  <ul class="mobile__menus">
    @if (!authService.authUser()) {
      @for (item of menus.routeButtons;track $index) {
        <li class="mobile__menus--item">
          <app-button>
            <a [routerLink]="item.route">{{ item.name }}</a>
          </app-button>
        </li>
      }
    } @else if (authService.authUser()) {
      <li class="mobile__menus--item">
        <app-button>
          <a (click)="kickOut()">Log Out {{ authService.authUser()?.displayName }} </a>
        </app-button>
      </li>
    }
  </ul>
</div>
