/* :host {
  --mdc-protected-button-container-color: #b0bec5;
  --mdc-protected-button-label-text-color: #000;
  --mat-protected-button-state-layer-color: #000;
  --mat-protected-button-ripple-color: rgba(0, 0, 0, 0.1);
}
 */
:host {
  @apply w-full flex items-center;
}

:host .mat-mdc-raised-button {
  @apply shadow-none;
}

::ng-deep .mdc-button__label {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
}
