<section class="flex flex-col justify-center items-center gap-4 " style="height: 80dvh;">
    <p class="heading text-6xl md:text-8xl font-bold text-black dark:text-white">{{env.appName}}</p>
    <p
        class="paragraph opacity-0 translate-y-5 text-balance text-center md:text-xl font-sans font-medium md:w-2/3 text-black dark:text-white">
        {{env.description}}</p>

    <div mat-raised-button color="accent" id="explore-btn" style="opacity: 0; transform: translateY(-10px);">
        <a routerLink="public"
            class="mt-10 rounded-full min-h-fit px-4 py-2 bg-accent-800 flex gap-5 cursor-pointer items-center text-white hover:shadow-lg hover:bg-accent-700">
            <span class="text-xl font-medium">Ready to Explore</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width=".5"
                stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
        </a>
    </div>


    <p class="outtro font-semibold text-xs flex gap-1 text-gray-400 opacity-0"><span>Made with ♥️ by</span><a
            href="https://github.com/sefatanam/" target="_blank" class="m-0 p-0 hover:underline">Sefat
            Anam</a>
    </p>

</section>