@use "styles/variables";

// Animated Text
.animated-text {
  background: linear-gradient(to right, #e90f0f, #ff6666, #e90f0f);
  background-size: 200% 200%;
  animation: pretty 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 1s ease-in-out;
  color: rgba(0, 0, 0, 0);
}

@keyframes pretty {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
