:root {
  --black: #191919;
  --gray: #e7e7e7;
  --white: #fff;
  --black: #000;
}

html,
body {
  font-family: "SF Pro Display", system-ui, sans-serif;
  transition: background-color 100ms ease-in-out;
}

// Animated Text
.animated-text {
  background: linear-gradient(to right, rgb(20, 220, 53), #19abf4, #5f2bd6);
  background-size: 200% 200%;
  animation: pretty 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 1s ease-in-out;
  color: rgba(0, 0, 0, 0);
}

@keyframes pretty {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
