@use "@angular/material" as mat;
@include mat.core();

// light theme
$my-primary: mat.define-palette(mat.$blue-grey-palette);
$my-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 1,
  )
);

body {
  @include mat.all-component-themes($light-theme);
}
