# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: pnpm/action-setup@v3
      with:
        version: 8
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
        cache-dependency-path: pnpm-lock.yaml
    - run: pnpm ci
    
    - name: Run Tests
      run: pnpm run build --if-present
      
    - name: Build
      run: pnpm test:ci
